//imports

@import "utilities/variables";
@import "utilities/mixins";
@import "components/header";
@import "components/footer";
@import "pages/index";
@import "pages/dulce";
@import "pages/salado";
@import "pages/recetas";
@import "pages/sobre-mi";
@import "pages/contacto";



*{
    font-family: $fuente;
    font-weight: 300;
    color: $colorFuente ;
    padding: 0;
    margin: 0;
}


main{
    padding: 0;
}

.fotos{
    width: 40 rem;
    height:40 rem;
}





    

    


    

    

    
 






