footer{
    height: 70%;
    background-color: hotpink;

    p{
        color: white;
        font-weight: 500;
        font-size: 1.5rem;
        text-decoration: none;
    }

    svg{
        height: 4rem;
        width: 4rem;
        transition: 500ms;
    }
    
    svg:hover{
        stroke: white;
        stroke-linecap: round;
        transform: scale(1.1);
    }

}