@import url(../utilities/_mixins.scss);
header {
  height: 6rem; }

.header_shadow {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.75); }

.header__logo {
  color: hotpink;
  font-weight: 700;
  font-size: 2.5rem;
  text-decoration: none;
  display: inline; }
  .header__logo:hover {
    color: lightpink; }

.nav {
  justify-content: flex-end; }
  .nav_item {
    margin: 0 2rem; }
  .nav_link {
    color: hotpink;
    background-color: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.5rem;
    margin: 0 1rem;
    transition: 500ms;
    text-decoration: none; }
  .nav_link:hover {
    background-color: lavenderblush;
    color: hotpink;
    transform: scale(1.2); }

.navbar-boton {
  padding: 0.1rem 0.5rem;
  background-color: lavenderblush; }

.navbar-toggler-icono {
  width: 1rem;
  height: 1rem; }

.footer {
  color: hotpink;
  font-weight: 500;
  font-size: 1rem;
  height: 70%;
  text-decoration: none;
  transition: 500ms; }
  .footer_shadow {
    box-shadow: 0px -6px 9px 1px rgba(0, 0, 0, 0.49); }
  .footer a:hover {
    color: hotpink;
    background-color: lavenderblush;
    transform: scale(1.1); }

.portada {
  background-image: url(../../../img/portadas/portada-index/portada3.jpg);
  background-size: cover;
  opacity: 0.6;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .portada h1, .portada p {
    background: none;
    font-weight: 500;
    color: black;
    text-align: center; }

.presentacion {
  background-color: lavenderblush;
  background-image: none;
  padding: 4rem;
  margin: 0;
  border: 0.1rem solid hotpink;
  box-shadow: none; }
  .presentacion p {
    color: black;
    font-weight: 400; }

span {
  text-decoration: underline;
  color: black;
  font-weight: 500; }

.redes_wpp {
  background-color: none;
  background-image: linear-gradient(45deg, #E5FFCC 0%, #1EBEA5 50%, #00E676 70%, #D0E9EA 90%, #EDF8F5 95%, #ffffff 100%);
  padding: 1rem;
  margin: 0 1rem;
  border: 0;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.49); }

.redes_ig {
  background-color: none;
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 40%, #dc2743 50%, #cc2366 85%, #bc1888 100%);
  padding: 1rem;
  margin: 0 1rem;
  border: 0;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.49); }

.redes p {
  color: black;
  background-color: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  transition: 0;
  text-decoration: none; }

.redes_link {
  height: 2rem;
  width: 2rem; }

.img {
  max-height: 8rem;
  margin: 1.5rem;
  transition: 500ms; }
  .img:hover {
    transform: scale(1.1); }

.portada_dulce {
  background-image: url(../../../img/portadas/portada-dulce/portada.jpg);
  background-size: cover;
  height: 20rem;
  opacity: 0.6; }
  .portada_dulce h1 {
    background: none;
    font-weight: 500;
    color: black;
    text-align: center; }

.portada_salado {
  background-image: url(../../../img/portadas/portada-salado/pan.jpg);
  background-size: cover;
  height: 20rem;
  opacity: 0.6; }
  .portada_salado h1 {
    background: none;
    font-weight: 500;
    color: black;
    text-align: center; }

.portada_recetas {
  background-image: url(../../../img/portadas/portada-recetas/recetas.jpg);
  background-size: cover;
  height: 20rem;
  opacity: 0.6; }
  .portada_recetas h1 {
    background: none;
    font-weight: 500;
    color: black;
    text-align: center; }

video {
  max-height: 30rem; }

.portada_sobreMi {
  background-image: url(../../../img/portadas/portada-sobre-mi/portada.jpg);
  background-size: cover;
  height: 20rem;
  opacity: 0.6; }
  .portada_sobreMi h1 {
    background: none;
    font-weight: 500;
    color: black;
    text-align: center; }

.portada_contacto {
  background-image: url(../../../img/portadas/portada-contacto/contacto.jpg);
  background-size: cover;
  height: 20rem;
  opacity: 0.6; }
  .portada_contacto h1 {
    background: none;
    font-weight: 500;
    color: black;
    text-align: center; }

label, input {
  font-weight: 500;
  text-align: left; }

* {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  color: hotpink;
  padding: 0;
  margin: 0; }

main {
  padding: 0; }

.fotos {
  width: 40 rem;
  height: 40 rem; }
