.portada_recetas{
    background-image: url(../../../img/portadas/portada-recetas/recetas.jpg);
    background-size: cover;
    height: 20rem;
    opacity: 0.6;

    & h1{
        background: none;
        font-weight: 500;
        color: $colorh1;
        text-align: center;
    }
}

video{
    max-height: 30rem;
}